<%# Converted - needs testing %>
<%# <p id="notice"><%= notice %>

<div class="container">
  <h1>Meetings</h1>

  <% @meetings.each do |meeting| %>
    <h3><%= meeting.time %> <%= meeting.date %></h3>
    <h5>Venue: <%= meeting.venue %></h5>
    <p>Agenda: <%= meeting.agenda %></p>
    <p>Minutes: <%= meeting.minutes %></p>

    <p><%= link_to 'Show', meeting %></p>
    <p><%= link_to 'Edit', edit_meeting_path(meeting) %></p>
    <p><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>

  <br>

  <%= link_to 'New Meeting', new_meeting_path %>
</div>
