<div class="container">
  <h2 class="my-2">Meetings</h2>
  <%= link_to 'New Meeting', new_meeting_path, class: "btn btn-success mb-2" %>
  <br>
  <% @meetings.each do |meeting| %>
      <div class="card bg-light my-2">
      <div class="card-body">
        <h5 class="text-black"><%= meeting.time %> <%= meeting.date.strftime("%A, %B %e, %Y") %> </h5>
        <h6 class="card-subtitle mb-2 text-muted">Venue: <%= meeting.venue %></h6>
        <p class="text-black text-truncate" >Agenda: <%= meeting.agenda %></p>
        <p class="text-black text-truncate" >Minutes: <%= meeting.minutes %></p>
        <p> <%= link_to 'View Meeting', meeting, class: "btn btn-primary" %>
      </div>
    </div>



  <% end %>
</div>
