<div class="container">
  <h3 class="my-3"><%= @meeting.time %> <%= @meeting.date.strftime("%A, %B %e, %Y") %></h3>
  <p>Venue: <%= @meeting.venue %></p>
  <p class="h4">Agenda: </p>
  <p><%= @meeting.agenda %></p>
  <p class="h4">Minutes:</p>
  <p><%= @meeting.minutes %></p>
  <p><%= link_to 'All Meetings', meetings_path, class: "btn btn-primary text-white my-2"%></p>
  <div class="d-flex">
    <% if current_user == @meeting.user %>
      <p><%= link_to 'Edit', edit_meeting_path(@meeting), class: "btn btn-secondary my-2" %></p>
      <p><%= link_to 'Delete', @meeting, class: "btn btn-danger text-white m-2" ,method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
</div>


