<div class="navbar navbar-expand-sm navbar-light navbar border-bottom">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag asset_path("winchelsea_logo_text") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link text-white" %>
        </li>
        <li class = "nav-item">
          <%= link_to "About", page_path('about'), class: "nav-link text-white" %>
        </li>
        <li class="nav-item">
          <%= link_to "Posts", posts_path, class: "nav-link text-white" %>
        </li>
        <li class = "nav-item">
            <%= link_to "Meetings", meetings_path, class: "nav-link text-white" %>
        </li>
        <li class = "nav-item">
            <%= link_to "Membership", page_path('membership'), class: "nav-link text-white" %>
        </li>
        <li class = "nav-item">
            <%= link_to "Docs", page_path('docs'), class: "nav-link text-white" %>
        </li>
        <% if user_signed_in? %>
          
        <div class="dropdown">
          <p class="nav-link dropdown-toggle text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            John Smith
          </p>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </div>
          
          

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>

        </div>
      </ul>
    </div>
  </div>
</div>
