<div class="container">
    <ul class="list-group">
        <%= link_to "Public Toilet Survey Report", public_toilets_survey_path, class: "badge badge-primary" %>
        <%= link_to "Winchelsea Facts & Figures", facts_figures_path, class: "badge badge-primary" %>
        <%= link_to "GTA Report", gta_report_path, class: "badge badge-primary" %>
        <%= link_to "Winchelsea Traffic Calming Group response to GTA report", gta_report_response_path, class: "badge badge-primary" %>
        <%= link_to "WRA Constitution", wra_constitution_path, class: "badge badge-primary" %>
    </ul>
</div>