<div class="container">
    <h2 class="my-2">Public Documentation</h2>
    <%= link_to "Public Toilet Survey Report", public_toilets_survey_path, class: "btn btn-primary my-2" %>
    <br>
    <%= link_to "Winchelsea Facts & Figures", facts_figures_path, class: "btn btn-primary my-2" %>
    <br>
    <%= link_to "Traffic Calming Report", gta_report_path, class: "btn btn-primary my-2" %>
    <br>
    <%= link_to "Traffic Calming Report - Winchelsea Response", gta_report_response_path, class: "btn btn-primary my-2" %>
    <br>
    <%= link_to "Constitution", wra_constitution_path, class: "btn btn-primary my-2" %>
</div>