<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="my-2">Posts</h2>
    <p>Sorted by: Date Created</p>
  </div>

  <%= form_tag posts_path, method: :get do %>
    <div class="d-flex justify-content-between align-items-center">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search a post"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <% @sorted_posts.each_with_index do |post, index| %>
    <div class="card bg-light my-2">
      <div class="card-body">
        <h5 class="text-black"><%= post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted">Author: <%= post.user.name %></h6>
        <h6 class="card-subtitle mb-2 text-muted">Created: <%= post.created_at.strftime("%A, %B %e, %Y") %></h6>
        <p class="text-black text-truncate" ><%= post.text %></p>
        <p> <%= link_to 'View Post', post, class: "btn btn-primary my-2" %>
                
        <div class="votes">
          <div class= "upvotes d-flex align-items-center my-2">
            <p class="mx-1"><%= post.votes.where(upvote: true).count %></p>
            <i class="fa-solid fa-thumbs-up fa-xl"></i>
          </div>
          <div class="downvotes d-flex align-items-center my-2">
            <p class="mx-1"><%= post.votes.where(upvote: false).count %></p>
            <i class="fa-solid fa-thumbs-down fa-xl"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
